<ion-header>
    <ion-toolbar>
      <ion-title>Compte candidat</ion-title>
      <ion-buttons>
        <ion-back-button slot="start" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
  
      <ion-item>
        <ion-label>Nom:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
      <ion-label>Prenom:</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>mdp:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Adresse:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Code postal:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Ville:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Titre:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
    </ion-list>
  </ion-content>
  
  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" type="submit">Enregistrer</ion-button>
    </ion-toolbar>
  </ion-footer>