<ion-header>
  <ion-toolbar>
    <ion-title>Ajout d'une entreprise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Raison Social</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Adresse</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Code postal</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ville</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telephone</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Siret</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Secteurs d'activité</ion-label>
      <ion-select [(ngModel)]="">
        <ion-option></ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="text" [(ngModem)]=></ion-input>
    </ion-item>

  </ion-list>
</ion-content>