<ion-header>
  <ion-toolbar>
    <ion-title>Poster une annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input type="text" [(ngModel)]="insertAnnonce.titre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Desciption de l'annonce</ion-label>
      <ion-textarea value="Taper votre annonce" [(ngModel)]="insertAnnonce.description_annonce"></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Profession</ion-label>
      <ion-select [(ngModel)]="insertAnnonce.id_profession">
        <ion-select-option *ngFor="let profession of professionsListe" value={{profession.id}}>
          {{profession.libelle}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type de contrat</ion-label>
      <ion-select [(ngModel)]="insertAnnonce.id_type_contrat">
        <ion-select-option *ngFor="let typeContrat of typeContratListe" value={{typeContrat.id}}>
          {{typeContrat.libelle}}
        </ion-select-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Salaire par mois</ion-label>
      <ion-range [(ngModel)]="salaireInput" min="0" max="50000" step="100" pin="true" dual-knobs="true"></ion-range>
    </ion-item>


  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" size="large" (click)="sendFormInput()">Valider</ion-button>

</ion-footer>